@import "../../assets/styles/variables.scss";
html {
    margin: 0;
    padding: 0;

    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.bg2 {
    margin: auto;
    height: 100vh;
    overflow-x: hidden;
    @media screen and (min-width: 2000px) {
        height: 100vh;
    }
}

.Skills {
    background-color: white;
}
