@import "../../assets/styles/variables.scss";

* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    @media screen and (min-width: 2000px) {
        width: 80%;
        margin: auto;
        align-items: center;
    }
}
.title {
    color: $secondary-color;
    font-family: $noto-font;
    font-weight: 100;
    font-size: 2rem;
    position: relative;
    &__text {
        padding-left: 4rem;
        padding-top: 2rem;
        position: relative;
        z-index: 1;
        @media screen and (max-width: 768px) {
            padding-left: 1rem;
            font-size: 3rem;
        }
    }
    &__image {
        position: absolute;
        z-index: 0;
        top: 0;
        width: 35rem;
        height: 25rem;
    }
}
