.card {
    border-radius: 2rem;
    display: flex;
    position: relative;
    justify-content: center;
    background-color: white;
    width: 50rem;
    height: 38rem;
    margin: 2.3rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    &__image {
        position: absolute;
        top: 0;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        width: 100%;
        height: 28rem;
        // filter: blur(0.1rem);
        object-position: top;

        object-fit: cover;
    }
    &__badge {
        width: 100%;
        display: flex;
        align-content: flex-end;
        margin-bottom: 1.5rem;
        padding-left: 1.5rem;
        flex-wrap: wrap;
    }
    &__name {
        position: absolute;
        bottom: 6rem;
        left: 2rem;
        font-size: 1.8rem;
    }
}
