@import url("https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans:wght@100;300;400;500;600;700;800&display=swap");

$primary-color: #f0eade;
$secondary-color: #483b33;
$secondary-color-low: #483b33b3;
$tertiary-color: #dde5b6;
$noto-font: "Noto Sans", sans-serif;
